.carre{
  width:150px;
	height:150px;
	background:#FF0000;
  margin-left: 100px;
  margin-right: 100px;
}

#myFooter {
    background-color: orange;
}
header {
  background-color: blue;
}
h1 {
  color: red;
}
h2 {
  color: white;
}
